body {
  font-family: "Jura", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
}

.left-side {
  background-color:orange;
  width: 30%;
  display: flex;
  /* align-items:  */
  flex-direction: column;
}

div {
  padding: 1em;
  margin-left: 2em;
  margin-right: 3em;
}
.right-side{
  background-color: blueviolet;
  width:70%;

}
.map {
  background-color:pink;
  width: auto;
  height: 800px;
  /* padding-right: 5%; */
}
/* form label {

  width: 230px;
  height: 19px;
  left: 131px;
  top: 363px;


}

.coord {
  width: 120px;
  height: 19px;
  padding: 30px;
  top: 500px;

}

#sunrise {

  width: 356px;
  height: 29px;
  left: 132px;
  top: 607px;
}

#sunset {

  width: 356px;
  height: 50px;
  left: 132px;
  top: 642px;
}

form input {

  width: 331px;
  height: 41px;
  left: 131px;
  top: 399px;

  background: #FFFFFF;

  border: 1px solid #2F80ED;
  box-sizing: border-box;
}

.map {
  top: 20%;
  float: right;
  width: 600px;
  height: 400px;
  padding-right: 5%;
}

td {
  padding: 0.5em;
  text-align: right;
} */
