body {
  font-family: "Jura", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 19px;
  color: rgb(44, 44, 44);
  display: flex;
  justify-content: space-around;
  text-align: center;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 57px;
}

.left-side {
  background-color: white;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: 30%;
  display: flex;
  /* align-items:  */
  flex-direction: column;
}

.remark {
  color: cadetblue;
  font-size: 0.8em;
}

.date {
  margin-bottom: 2em;
}

input {
  display: flex;
  justify-content: flex-end;
  background: white;
  border: 1px solid #2F80ED;
  box-sizing: border-box;
}

#btn-get {
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 700;
  color: white;
  background: #2F80ED;
  border: none;
}

#btn-get:hover{
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 700;
  color: white;
  background: #4793f7;
  border: none;
}

.right-side {
  background-color: white;
  width: 70%;
  margin: 1em;
}

.map {
  width: 100%;
  height: 600px;
  border: 2px solid #2F80ED;


}

.sun-info {
  margin-top: 1em;
}
.solution{
  font-weight: 700;
  font-size: 1.1em;
  color: blue;
}
#sunrise,
#sunset {
  font-weight: 700;
}

/* 

td {
  padding: 0.5em;
  text-align: right;
}  */
