body {font-family: "Jura", sans-serif;
      color:#000;}
h1{position: absolute;
width: 283px;
height: 57px;
left: 147px;
top: 162px;

font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 57px;
/* identical to box height */
}

p{
position: absolute;
width: 325px;
height: 92px;
left: 130px;
top: 246px;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
form label {position: absolute;
  width: 180px;
  height: 19px;
  left: 131px;
  top: 363px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  }
#location{
position: absolute;
width: 120px;
height: 19px;
top: 121px;

}
#sunrise{
position: absolute;
width: 356px;
height: 29px;
left: 132px;
top: 607px;
}
#sunset{
  position: absolute;
width: 356px;
height: 50px;
left: 132px;
top: 642px;
}
form input{
position: absolute;
width: 331px;
height: 41px;
left: 131px;
top: 399px;

background: #FFFFFF;

border: 1px solid #2F80ED;
box-sizing: border-box;
}
